<!--carsIndex-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exotic Collection</title>
    <style>
      body {
        background-color: #024059;
        color: #2bf0fb;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-align: center;
        font-size: large;
      }

      ul {
        list-style: none;
      }

      li {
        padding-bottom: 10px;
      }

      a {
        color: #980bbf;
        text-decoration: none;
        transition: color 0.3s;
      }

      a:hover {
        color: #f2e307;
      }
    </style>
  </head>
  <body>
    <h1>Exotic Collection</h1>
    <a href="/add"> Add a Car</a>

    <ul>
      <% cars.forEach(car => { %>
      <li>
        <a href="/<%= car.car_id %>">
          <%= car.make %> <%= car.model %> (<%= car.year %>)
        </a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
