<!--carsIndex-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exotic Collection</title>
  </head>
  <body>
    <h1>Exotic Collection</h1>
    <a href="/add"> Add a Car</a>

    <ul>
      <% cars.forEach(car => { %>
      <li>
        <a href="/<%= car.car_id %>">
          <%= car.make %> <%= car.model %> (<%= car.year %>)
        </a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
