<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update the Mileage</title>
  </head>
  <body>
    <h1>Update the Mileage</h1>
    <form action="/update" method="POST">
      <label for="mileage">Mileage:</label>
      <input type="number" />
    </form>
  </body>
</html>
