body {
  background-color: #024059;
  color: #2bf0fb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: large;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
}

a {
  color: #980bbf;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #f2e307;
}
